/* --- CSS RESET https://www.joshwcomeau.com/css/custom-css-reset/ --- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* --- PROJECT CSS --- */

:root {
  --light-red: hsl(0, 100%, 67%);
  --light-red-bg: hsla(0, 100%, 67%, 10%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --orangey-yellow-bg: hsla(39, 100%, 56%, 10%);
  --green-teal: hsl(166, 100%, 37%);
  --green-teal-bg: hsla(166, 100%, 37%, 10%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --cobalt-blue-bg: hsla(234, 85%, 45%, 10%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --light-gray-blue: hsl(224, 31%, 65%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  font-family: 'Hanken Grotesk', sans-serif;
}

p {
  font-size: 18px;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  display: flex;
  justify-content: center;
}

.results {
  width: min(600px, 100%);
}

.results__overview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding: 2em;

  background-image: linear-gradient(
    0deg,
    var(--light-royal-blue),
    var(--light-slate-blue)
  );

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.results__title {
  color: var(--light-lavender);
}

.results__average {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-block: 0.5em;
  width: 125px;
  height: 125px;

  color: var(--light-lavender);
  background-image: linear-gradient(
    180deg,
    var(--violet-blue),
    var(--light-royal-blue)
  );

  font-size: 0.9rem;
  font-weight: 600;

  border-radius: 50vw;
}

.results__average-score {
  font-size: 3rem;
  color: var(--white);
  line-height: 1;
}

.results__keyword {
  color: var(--white);

  font-size: 1.5rem;
  font-weight: 600;
}

.results__summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding: 2em;
}

.results__categories {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
}

.results__category {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  font-weight: 600;
  border-radius: 5px;
}

.results__description {
  color: var(--light-lavender);

  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}

.results__category--red {
  color: var(--light-red);
  background-color: var(--light-red-bg);
}

.results__category--yellow {
  color: var(--orangey-yellow);
  background-color: var(--orangey-yellow-bg);
}

.results__category--green {
  color: var(--green-teal);
  background-color: var(--green-teal-bg);
}

.results__category--blue {
  color: var(--cobalt-blue);
  background-color: var(--cobalt-blue-bg);
}

.results__category-score--gray {
  color: var(--light-gray-blue);
}

.results__category-score--black {
  color: black;
}

.results__button {
  width: 100%;
  padding: 0.5em;

  border: 0;
  border-radius: 50vw;

  color: var(--white);
  background-color: var(--dark-gray-blue);
}

.results__button:hover {
  background-image: linear-gradient(
    0deg,
    var(--light-royal-blue),
    var(--light-slate-blue)
  );

  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    padding: 1em;
  }

  .results {
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-radius: 20px;
    box-shadow: 10px 10px 20px 5px var(--pale-blue);
  }

  .results__overview {
    border-radius: 20px;
  }

  .results__summary {
    gap: 2em;
  }
}
